.nav {
    background-color: #A6A867;

}
.nav ul{
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav a{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}

.dropdown-menu, .dropdown-menu:hover{
    background: #A6A867 !important;
}

body {
    background: #ffd29d !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

nav {
    background: #A6A867 !important;
}

.jtron, .details {
    overflow: hidden;
    display: flex;
}

.jtron-image, .details .photo{
    width:30%;
    float:left;
    /* border-right: solid 1px;  */
    border-top: solid 1px;
    border-bottom:solid 1px;
    background-color:#FFDBB0;
}

.jtron-text, .details .info {
    width:70%;
    float:right;
    text-align: left;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: #FFDBB0;
}

.jtron-text p, .jtron-text h1, .jtron-text input{
    margin-left: 7.5vw; /* Any formatting using the units vw and vh are responsive as they are units of measurement based on screen size */
    text-align: left !important;
}

.jtron-text input {
    display:flex;
    margin-bottom: 3vh;
}

.jtron-image img, #ex {
    max-width:75%;  
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:auto;
    margin-right:auto;
    display:flex;
}

.jtron-image h4 {
    text-align:center !important;
}

.trending{
    margin-left:5vw;
    margin-right:5vw;
    margin-bottom: 5vh;
}

.trending h1 {
    margin-left: 0
}

.trending h2, .trending p {
    text-align: center;
}

.trending img {
    max-width: 50%;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    padding-bottom: 2vh;
}

.trending input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#popular {
    border: solid 1px;
}

.trending input:hover, .jtron-text input:hover {
    background-color: #A6A867; 
}

.trending input {
    margin-bottom: 3vh;
}

#sbtn {
    margin-top: 2vh;
    color:black;
    background-color: white;
    border: none;
}

#sbtn:hover{
    background-color:#A6A867;
}

.login {
    margin-left:15vw;
    margin-top:3vh;
}

#cooking {
    /* -webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0); */
    /* max-width: 50%; */
    height: 90%;
    float:right;
    clip-path: polygon(30% 0, 60% 100%, 100% 100%, 100% 0);
    object-fit: cover;
}

.r{
    display:flex;
}

.column {
    width:50%;
}

#form{
    padding-left: 25%;
    margin-top: 12.5%;
}

.ingredients {
    text-align: left !important;
}

.header a{
    color:#A6A867;
}

.header a:hover{
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.recipe, .comment{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

.ingredients p, .instructions p {
    border: solid 1px;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.details {
    margin-left:7.5vw;
    margin-right:7.5vw;
    display:flex;
    justify-content:center;
}

.info {
    margin-left:0 !important;
}