.nav {
    background-color: #A6A867;

}
.nav ul{
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav a{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}

.dropdown-menu, .dropdown-menu:hover{
    background: #A6A867 !important;
}

body {
    background: #ffd29d !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

nav {
    background: #A6A867 !important;
}

.jtron {
    overflow: hidden;
    display: flex;
}

.jtron-image{
    width:30%;
    float:left;
    /* border-right: solid 1px;  */
    border-top: solid 1px;
    border-bottom:solid 1px;
    background-color:#FFDBB0;
}

.jtron-text {
    width:70%;
    float:right;
    text-align: left;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: #FFDBB0;
}

.jtron-text p, .jtron-text h1, .jtron-text input{
    margin-left: 7.5vw;
    text-align: left !important;
}

.jtron-text input {
    display:flex;
}

.jtron-image img {
    max-width:75%;  
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:auto;
    margin-right:auto;
    display:flex;
}

.jtron-image h4 {
    text-align:center !important;
}

.trending{
    margin-left:5vw;
    margin-right:5vw;
}

.trending h1 {
    margin-left: 0
}

.trending h2, p {
    text-align: center;
}

.trending img {
    max-width: 50%;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    padding-bottom: 2vh;
}

.trending input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#popular {
    border: solid 1px;
}

input:hover {
    background-color: #A6A867; 
}